html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 99%;
}

h1 {
  text-align: center;
  font-size: 10rem;
  padding: 2rem;
  font-family: 'Montserrat';
}

.loginWrapper {
  display: flex;
  flex-direction: row;
  height: 60%;
  padding-top: 1rem;
  /* font-size: 10rem; */
  /* background-color: black; */
}

.loginWrapper button {
  background-color: #3a9937;
  border: none;
  width: 100%;
}

.loginWrapper button:hover {
  background-color: #367a34;
}

.signin {
  display: flex;
  flex: 1;
  /* width: 50%; */
  align-items: center;
  justify-content: center;
  /* margin: 2rem; */
  /* background-color: grey; */
}

.signin div {
  max-width: 30rem;
  margin: 1rem 0;
  text-align: center;
  /* font-size: 20rem; */
}

.signup {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  /* margin: 2rem; */
  /* background-color: pink; */
  /* text-align: left; */
}

.signup div {
  max-width: 30rem;
  margin: 1rem 0;
  text-align: center;
}

.footer {
  display: flex;
  height: 5rem;
  align-items: center;
  justify-content: center;
  background-color: #353d48;
  color: white;
}

.footer a {
  text-decoration: none;
  color: white;
}

.header {
  height: 5rem;
  background-color: rgb(84, 130, 158);
}

.header img {
  height: 100%;
}

@media only screen and (max-width: 1500px) {
  h1 {
    font-size: 8rem;
  }
}