html, body {
    margin: 0;
    padding: 0;
}

ul.navbar-nav {
    width: 100%;
}

ul.navbar-nav li:nth-child(5) {
    margin-left: auto;
    float: right;
}

.settingsSection div {
  width: 40rem;
  margin: 1rem 0;
  text-align: left;
}

.settingsSection {
  padding: 5px;
padding-left: 30px;
}

.adminTable {
  max-width: 60rem;
  padding: 10px;
}

.btnDelete {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.h3 {
  margin-top: 0px;
}
